<?xml version="1.0"?>
<!-- Etiqueta raíz que indica que este es un archivo de robot y que usará variables Xacro -->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ########################################################## -->
    <!-- #####################   LIBRERÍAS    ##################### -->
    <!-- ########################################################## -->

    <xacro:include filename="inertial_macros.xacro" />

    <!-- ########################################################## -->
    <!-- ########################################################## -->
    <!--                MATERIALES Y COLORES                        -->
    <!--                                                            -->
    <!-- Define colores reutilizables para previsualizar en RViz.   -->
    <!-- Nota: Gazebo ignora estos colores, necesita sus etiquetas  -->
    <!-- <gazebo> específicas para el renderizado de materiales.    -->
    <!-- ########################################################## -->
    <!-- ########################################################## -->
    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>
    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <!-- ########################################################## -->
    <!-- ########################################################## -->
    <!--                BASE LINK (El ancla del robot)              -->
    <!--                                                            -->
    <!-- Es el origen matemático (0,0,0) sin geometría ni masa.     -->
    <!-- Su única función es ser el punto de referencia global.     -->
    <!-- Se anclan a él el chasis y los elementos motrices.         -->
    <!-- Lo hemos situado en el centro del eje trasero motriz.      -->
    <!-- ########################################################## -->
    <!-- ########################################################## --> 
    
    <link name="base_link">
    </link>

    <!-- ########################################################## -->
    <!-- #######################   CHASIS   ####################### -->
    <!-- ########################################################## -->

    <!-- JOINT: Unión mecánica, fixed es como una soldadura-->
    <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/>                                                                      <!-- parent es a quien nos unimos-->
        <child link="chassis"/>                                                                         <!-- child es quien se une al parent-->
        <origin xyz="-0.05 0 0"/>
    </joint>

    <!-- LINK: Las propiedades físicas de la pieza -->
    <link name="chassis">
        
        <!-- VISUAL: Lo que renderiza la pantalla. Aquí se cambiará -->
        <!-- el <box> por el <mesh> del archivo CAD exportado.      -->
        <visual>
            <!-- Desplazamos el origen visual para que crezca hacia -->
            <!-- adelante (+X) y hacia arriba (+Z) librando el suelo-->
            <origin xyz="0.15 0 0.075"/>
            <geometry>
                <box size="0.3 0.3 0.15"/>
            </geometry>
            <material name="white"/>
        </visual>
        
        <!-- COLLISION: El volumen invisible que choca en Gazebo.   -->
        <!-- Regla de oro: NUNCA usar un STL complejo aquí.         -->
        <!-- Mantener formas primitivas para no sobrecargar la CPU. -->
        <!-- Podemos sustituir el box por un mesh si tenemos un     -->
        <!-- archivo STL con pocos polígonos (menos de 30 caras).  -->
        <collision>
            <origin xyz="0.15 0 0.075"/>
            <geometry>
                <box size="0.3 0.3 0.15"/>
            </geometry>
        </collision>
        
        <!-- INERTIAL: Masa y distribución de peso para el motor    -->
        <!-- de físicas. Sin esto el robot volará o temblará.       -->
        <!-- Cuando se tenga el archivo stl del chasis se miran en  -->
        <!-- propiedades. Pasar los valores a m, kg*m², kg          -->
        
        <!--        FORMA NOMAL DE USAR LA MACRO DE INERCIA         -->
        
<!--        <inertial>                                                                          -->
<!--            <origin xyz="0.15 0 0.075" rpy="0 0 0"/>                                        -->
<!--            <mass value="5.0"/>-->
                  <!-- Inercia matemática de un prisma rectangular -->
<!--            <inertia ixx="0.046" ixy="0.0" ixz="0.0" iyy="0.046" iyz="0.0" izz="0.075"/>    -->
<!--        </inertial>                                                                         -->
        
        <!--        FORMA DE USAR LA MACRO DE INERCIA               -->

        <xacro:inertial_box mass="5.0" x="0.3" y="0.3" z="0.15">
            <origin xyz="0.15 0 0.075" rpy="0 0 0"/>
        </xacro:inertial_box>
        

    </link>

    <!-- ########################################################## -->
    <!-- ########################################################## -->
    <!--                MACROS (Plantillas paramétricas)            -->
    <!--                                                            -->
    <!-- Define la rueda una sola vez. Recibe parámetros dinámicos: -->
    <!-- 'prefix' (nombre left/right) y 'offset_y' (separación).    -->
    <!-- Son como las funciones en programación.                    -->
    <!-- ########################################################## -->
    <!-- ########################################################## -->
    

    <!-- ########################################################## -->
    <!-- #######################   RUEDAS   ####################### -->
    <!-- ########################################################## -->


    <xacro:macro name="rueda_motriz" params="prefix offset_y rotacion_z">
        
        <!-- type="continuous" indica que gira sin tope sobre un eje-->
        <joint name="${prefix}_wheel_joint" type="continuous">
            <parent link="base_link"/>
            <child link="${prefix}_wheel"/>
            <!-- Desplaza en Y y tumba el cilindro 90 grados (-pi/2)-->
            <origin xyz="0 ${offset_y} 0" rpy="-${pi/2} 0 0"/>
            <!-- Indica que la rueda gira sobre su eje Z local      -->
            <axis xyz="0 0 1"/>
        </joint>

        <link name="${prefix}_wheel">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 ${rotacion_z}"/>                               <!-- No necesario ahora pero por si al importar el stl no encaja-->
                <geometry>
                    <cylinder radius="0.0325" length="0.04"/>                               <!-- <mesh filename="file://$(find eurobot2027_software_simulacion)/description/meshes/rueda.stl" scale="1 1 1"/> para cuando se añada el stl-->
                </geometry>
                <material name="blue"/>
            </visual>
            <collision>
                <geometry>
                    <cylinder radius="0.0325" length="0.04"/>
                </geometry>
            </collision>
            
            <xacro:inertial_cylinder mass="1.0" length="0.04" radius="0.0325">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:inertial_cylinder>

        </link>
    </xacro:macro>

    <!-- ########################################################## -->
    <!-- ########################################################## -->
    <!--                INSTANCIACIÓN DE MACROS                     -->
    <!--                                                            -->
    <!-- Crea las piezas físicas inyectando los parámetros.         -->
    <!-- ########################################################## -->
    <!-- ########################################################## -->
    
    <xacro:rueda_motriz prefix="left" offset_y="0.2" rotacion_z="0"/>
    <xacro:rueda_motriz prefix="right" offset_y="-0.2" rotacion_z="${pi}"/>

    <!-- ########################################################## -->
    <!-- #####################   RUEDA LOCA   ##################### -->
    <!-- ########################################################## -->
    <!-- Se pone unión fixed y después en gazebo se pondrá          -->
    <!-- rozamineto nulo para que actue como rueda loca             -->
    
    <joint name="caster_wheel_joint" type="fixed">
        <parent link="chassis"/>                                                             <!-- parent es a quien nos unimos-->
        <child link="caster_wheel"/>                                                         <!-- child es quien se une al parent-->
        <origin xyz="0.25 0 0.0"/>

    </joint>

    <!-- LINK: Las propiedades físicas de la pieza -->
    <link name="caster_wheel">
        
        <visual>
            <origin xyz="0 0 0.0"/>
            <geometry>
                <sphere radius="0.0325"/>
            </geometry>
            <material name="blue"/>
        </visual>
        
        <collision>
            <origin xyz="0 0 0"/>
            <geometry>
                <sphere radius="0.0325"/>
            </geometry>
        </collision>
        
        <xacro:inertial_sphere mass="0.1" radius="0.0325">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_sphere>
    
    </link>


    <!-- ########################################################## -->
    <!-- ########################################################## -->
    <!-- CONTROLADOR DE TRACCIÓN DIFERENCIAL (GAZEBO)               -->
    <!-- ########################################################## -->
    <!-- ########################################################## -->

    <gazebo>
        <plugin filename="ignition-gazebo-diff-drive-system" name="ignition::gazebo::systems::DiffDrive">
            <left_joint>left_wheel_joint</left_joint>
            <right_joint>right_wheel_joint</right_joint>
            <!-- Separación total entre ruedas (0.2 + 0.2) -->
            <wheel_separation>0.4</wheel_separation>
            <!-- Radio de la rueda en metros -->
            <wheel_radius>0.0325</wheel_radius>
            <odom_publish_frequency>50</odom_publish_frequency>
            <topic>cmd_vel</topic>
        </plugin>
    </gazebo>

</robot>